header {
    text-align: center;
    margin-bottom: 3vh;
}

#containerHead {
    text-align: center;
}

body {
    background-color: #edede9 !important;
}


.main_header{
    border-bottom: 3px solid black;
}

/* box s vlajkami */

.flag_text{
    margin-top: 5rem;
}

.w-25 {
    text-align: center;
    background-color: #f5ebe0;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    
    border: 3px solid black;
    border-radius: 0.5rem;
    margin-bottom: 2vh;
}

#equations {
    justify-content: center;
    margin-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#modalWindow, #hintWindow {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#modalBody, #helpH, #hintH {
    background-color: #d5bdaf;
    color: white;
   
}

#hintBody {
    background-color: white;
}

#nextTask {
    background-color: #d5bdaf;
    border: 3px solid white;
    color: white;
    font-weight: bolder;
    font-size: 120%;
    margin: auto;
}

#modalTxt, #hintTxt, #helpTxt {
    text-align: center;
    font-size: calc(1.3rem + .6vw) !important;
}

#assignment {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

/* box s vysvetlením */
#backOf {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 0.5rem;
    color: black;
    width: 55%;
    min-width: 350px;
    margin-bottom: 5vh;

}
.modal-title{
   justify-content: center;
   text-align: center;
}

.hint_text{
    font-size: 2vh;
}

#helper {
    min-width: 240px;
}

/* buttons vnutorny */
#help, #hintTip {
    background-color: #E3D5CA;
    border: 10px solid transparent;
    outline: 3px solid black;
    color: black;
    font-weight: bolder;
    font-size: 140%;
    margin-bottom: 5vh;
    width: 272px;
}

#headerImg {
    width: 15%;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 !important;
}

.fs-3, #headerImg {
    text-align: center !important;
    margin: auto;
    color: white;
    font-size: 2rem!important;
    font-weight: bold;
}

.fs-3 {
    margin-left: 2rem !important;
}

p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#headContent {
    margin: auto;
    text-align: center;
}

.d-flex {
    background-color: #d6ccc2;
}

/* border pod hlavickou */
.p-3 {
    padding: 0 !important;
    border-bottom: 5px solid transparent;
}

.endDiv, .startDiv {
    text-align: center;
}

.info {
    background-color: #F5EBE0;
}









@media (min-width: 609px) {
    .endDiv {
        text-align: right !important;
    }
    .startDiv {
        text-align: left !important;
    }
}

@media print {
    #headerImg, .container {
        display: none;
    }
    #backOf {
        width: 100%;
    }
    #help, #hintTip {
        background-color: white;
    }
    header {
        margin-bottom: 1vh;
    }
}